<div class="card">
    <div class="card-body">
        <h4 class="card-title">{{event.title}}</h4>
        <p class="card-description">{{event.description}}</p>
        <p>
            <span class="card-attribute-title">Author:</span>
            <span class="card-attribute">{{event.author}}</span>
        </p>
        <p>
            <span class="card-attribute-title">Date:</span>
            <span class="card-attribute">{{event.date}}</span>
        </p>
        <div class="card-button">
            <a href="event/edit/{{event.sessionID}}" class="btn button">Edit</a>       
        </div>
    </div>
</div>