.event-container {
    .input-field {
        margin: 20px;
        .input {
            border: 1px solid #c0c1c5;
            border-radius: 3px;
            padding: 8px;
            outline: none;
            color: #151d14;
        }
        label {
            padding: 10px;
            color: #2e2c46;
        }
    }
    .button-section {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        .button {
            color: #fff;
            background-color: #6262cc;
            padding: 8px 25px;
            margin-left: 25px;
        }
    }
}