<div class="event-container col-md-8">
    <div class="input-field col-md-12">
        <label class="col-md-2">Session ID</label>
        <input type="text" ng-model="sessionID" class="col-md-10 input" readonly />
    </div>
    <div class="input-field col-md-12">
        <label class="col-md-2">Title</label>
        <input type="text" ng-model="eventTitle" class="col-md-10 input" />
    </div>
    <div class="input-field col-md-12">
        <label class="col-md-2">Decription</label>
        <textarea ng-model="eventDescription" class="col-md-10 input"></textarea>
    </div>
    <div class="input-field col-md-12">
        <label class="col-md-2">Author</label>
        <input ng-model="eventAuthor" type="text" class="col-md-10 input" />
    </div>
    <div class="input-field col-md-12">
        <label class="col-md-2">Date</label>
        <input ng-model="eventDate" type="text" class="col-md-10 input" />
    </div>
    <div class="button-section col-md-12">
        <a href="#/home" class="btn button">Back</a>
        <a href="#/home" ng-click="addEvent()" class="btn button">Save</a>
    </div>
</div>